body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #f6d365, #fda085);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.login-container h1 {
    margin-bottom: 10px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #ff7a18;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-container button:hover {
    background: #e86c00;
}

#mensaje {
    margin-top: 10px;
    color: red;
}
